.sitemain__box{
  width: 1200px;
  height: 600px;
}

.sitemain__box1{
  width: 493px;
  height: 367px;
  margin-top: -450px;
  margin-left: 80px;
}

.sitemain__title{
  color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 72px;
font-weight: 900;
line-height: 72px;
margin-bottom: 40px;
}

.sitemain__text{
  color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 45px;
}

.sitemain__btn{
  width: 217px;
height: 56px;
border-radius: 6px;
background: rgb(14, 135, 132);
color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 18px;
font-weight: 900;
line-height: 25px;
border: rgb(14, 135, 132);
}

.sitemain__section__box{
  width: 1111px;
height: 398.55px;
margin-left: 40px;
margin-top: -70px;
display: flex;
justify-content: space-between;
}

.sitemain__section_box{
  text-align: center;
  margin-bottom: 150px;
}

.sitemain__section_img{
  width: 1111px;
height: 196px;
text-align: center;
}

.sitemain__section__img{
  width: 255px;
height: 193px;
}

.sitemain__section__box1{
  width: 255px;
height: 134px;
margin-left: 30px;
    margin-top: -170px;
    margin-right: 22px;
}

.sitemain__section__title{
  color: rgb(51, 61, 75);
font-family: Fraunces 9pt;
font-size: 24px;
font-weight: 900;
line-height: 32px;
margin-bottom: 20px;
}

.sitemain__section__text{
  line-height: 26px;
}

.sitemain__section__box__gl{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitemain__section__box2{
  width: 255px;
  height: 134px;
  margin-left: 30px;
      margin-top: -170px;
      margin-right: 20px;
}

.sitemain__section__box3{
  width: 255px;
  height: 134px;
  margin-left: 30px;
      margin-top: -170px;
      margin-right: 35px;
}

.sitemain__section__box4{
  width: 255px;
  height: 134px;
  margin-left: 30px;
      margin-top: -170px;
      margin-right: 22px;
}

.saitmain__section1__box{
  position: absolute;
width: 1280px;
height: 728px;
}

.saitmain__section1__box1{
width: 1200px;
height: 577px;
border-radius: 5px;
color: #FFFFFF;
background-color: #252C35;
}

.saitmain__section1__box2{
  position: relative;
  width: 540px;
  height: 160px;
  text-align: center;
  margin-left: 332px;
  top: 20%;
}

.saitmain__section1__box1_title{
  font-size: 40px;
font-weight: 900;
line-height: 48px;
margin-bottom: 35px;
}

.sitemain__section1__box1_text{
  color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.saitmain__section1__box3{
  position: absolute;
width: 1110px;
height: 382px;
top: 50%;
    left: 3%;
}

.saitmain__section1__box4{
  position: absolute;
width: 350px;
height: 382px;
border-radius: 8px;
background: rgb(14, 135, 132);
}

.saitmain__section1__box4_img{
width: 71px;
height: 71px;
margin: 72px 143px 238px 136px;
}

.saitmain__section1__box4_text{
  position: absolute;
  color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 24px;
font-weight: 900;
line-height: 32px;
margin-top: -200px;
    margin-left: 95px;
    text-align: center;
}

.saitmain__section1__box4_text1{
  text-align: center;
  position: absolute;
  width: 255px;
height: 78px;
  color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: -135px;
margin-left: 45px;
}

.saitmain__section1__box5{
  position: absolute;
width: 350px;
height: 382px;
border-radius: 8px;
background: rgb(14, 135, 132);
left: 35%;
}

.saitmain__section1__box5_img{
width: 71px;
height: 71px;
margin: 72px 143px 238px 136px;
}

.saitmain__section1__box5_text{
  position: absolute;
  color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 24px;
font-weight: 900;
line-height: 32px;
margin-top: -200px;
    margin-left: 65px;
    text-align: center;
}

.saitmain__section1__box5_text1{
  text-align: center;
  position: absolute;
  width: 255px;
height: 78px;
  color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: -135px;
margin-left: 45px;
}

.saitmain__section1__box6{
  position: absolute;
width: 350px;
height: 382px;
border-radius: 8px;
background: rgb(14, 135, 132);
left: 70%;
}

.saitmain__section1__box6_img{
width: 71px;
height: 71px;
margin: 72px 143px 238px 136px;
}

.saitmain__section1__box6_text{
  position: absolute;
  color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 24px;
font-weight: 900;
line-height: 32px;
margin-top: -200px;
    margin-left: 95px;
    text-align: center;
}

.saitmain__section1__box6_text1{
  text-align: center;
  position: absolute;
  width: 255px;
height: 78px;
  color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: -135px;
margin-left: 45px;
}

.sitemain__section__box11{
  position: absolute;
width: 1045px;
height: 565px;
margin: 200px 150px 0px 85px;
margin-top: 900px;
}

.sitemain__section__box11__item{
  position: relative;
width: 285px;
height: 355px;
margin: 210px 760px 0px 0px;
}

.sitemain__section__box11__title{
  color: rgb(131, 136, 143);
font-family: Fraunces 9pt;
font-size: 24px;
font-weight: 900;
line-height: 32px;
}

.sitemain__section__box11__text{
width: 90px;
height: 72px;
color: rgb(253, 214, 186);
font-family: Fraunces 9pt;
font-size: 72px;
font-weight: 900;
line-height: 72px;
}

.sitemain__section__box11__text1{
  position: absolute;
  width: 255px;
  height: 73px;
  left: 0%;
  right: 10.53%;
  top: 110px;
  bottom: 172px;
color: rgb(51, 61, 75);
font-family: Fraunces 9pt;
font-size: 32px;
font-weight: 900;
line-height: 36px;
}

.sitemain__section__box11__text2{
  position: absolute;
width: 285px;
height: 130px;
left: 0%;
right: 0%;
top: 63.38%;
bottom: 0%;
color: rgb(51, 61, 75);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.sitemain__section__box11__item1{
  position: relative;
width: 285px;
height: 355px;
margin: 210px 380px 0px 380px;
margin-top: -355px;
}

.sitemain__section__box11__item2{
  position: relative;
  width: 285px;
  height: 355px;
  margin: 210px 0px 0px 760px;
  margin-top: -355px;
}

.sitemain__section__box11__btn{
  width: 217px;
height: 56px;
border-radius: 6px;
background: rgb(14, 135, 132);
color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 18px;
font-weight: 900;
line-height: 25px;
text-align: center;
border: none;
margin-top: 100px;
}